<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Simple REST Demo</title>
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>

<script type="text/javascript" src="/js/custom.js"></script>
</head>
<body>

	<h1>Servicios REST con Spring Boot</h1>
	
	<p>Aplicación  DEMO que implementa servicios REST con Spring Boot y los consume con Angular JS y jQuery</p>

	<br>
	<h2>Consumo de servicios REST con Angular JS </h2>
    
    <a href="/angulargetall">Mostrar todos los clientes</a>
    <br>
    <br>
    <a href="/angulargetcliente">Datos de un cliente</a>
    <br>
    <br>
<!--     <p>Servicio REST insert (http://localhost:8080/clientes/) invocado con AngularJS </p> -->
    <a href="/angularinsert">Crear un cliente (Insert)</a>
    <br>
    <br>
    <a href="/angularmodify">Modificar un cliente </a>
    <br>
    <br>
<!--     <p>Servicio REST delete (http://localhost:8080/clientes/) invocado con AngularJS </p> -->
    <a href="/angulardelete">Borrar un cliente (Delete)</a>
    <br>
    <br>
    <br>
        
    <h2>Consumo de servicios REST con jQuery </h2>
    
<!--     <p>Servicio REST local (http://localhost:8080/clientes/3) invocado con jQuery </p> -->
<!--     <a href="/jquery2">jQueryRestClient Local</a> -->

    
    <a href="/jquerygetcliente">Datos de un cliente</a>
    <br>
    <br>
<!--     <p>Servicio REST insert (http://localhost:8080/clientes/) invocado con jQuery </p> -->
    <a href="/jqueryinsert">Crear un cliente (Insert)</a>

	<br>
    <br>
    
    <br>
    <br>

<!-- 	<a href="/test">test</a> -->
    
</body>
</html>